@media only screen and (max-width: 1299.98px) and (min-width: 1200px){
	    .footer-layout5 .th-social.style2 a {
        --icon-size: 35px;
        line-height: 35px;
    }
	
	.ccfo-box .th-social.style2 a {
    --icon-size: 34px;
    line-height: 34px;
	}
	    .main-menu ul.mega-menu {
        width: 1100px;
    }
}

@media only screen and (max-width: 1199.98px) and (min-width: 991px){
	.header-info .media-body{
		display:none!important
	}
	    .footer-layout5 .th-social.style2 a {
             --icon-size: 30px;
        line-height: 30px;
        margin-right: 3px;
        font-size: 17px;
    }
	
	.ccfo-box .th-social.style2 a {
           --icon-size: 29px;
        line-height: 29px;
        margin-right: 3px;
        font-size: 16px;
	}
	    .main-menu ul.mega-menu {
        width: 974px;
    }
	
	    .main-menu>ul>li {
        margin: 0 23px;
    }
.hero-style2 .hero-title {
    
    font-size: 44px;
}
.hero-style2 .price {
    
    font-size: 27px;
	
}

.home-three .offer-bottom-title h4 {
    font-size: 17px;
	
}
.callection-card .box-title{
	 font-size: 21px;

}
.collection-category.style8 .box-content .box-title {
 
    font-size: 21px;


}
.footer-layout5 .footer-widget .widget_title{
	font-size:22px
}
.coleft-main {
    
    padding-right: 0;
}
}

@media only screen and (max-width: 991.98px) and (min-width: 768px){
	.coleft-main {
    
    padding-right: 0;
}
	 
	    .footer-layout5 .th-social.style2 a {
             --icon-size: 30px;
        line-height: 30px;
        margin-right: 3px;
        font-size: 17px;
    }
	
	.ccfo-box .th-social.style2 a {
    --icon-size: 34px;
    line-height: 34px;
	}
	    .main-menu ul.mega-menu {
        width: 974px;
    }
	
	    .main-menu>ul>li {
        margin: 0 23px;
    }
.hero-style2 .hero-title {
    
    font-size: 44px;
}
.hero-style2 .price {
    
    font-size: 27px;
	
}

.home-three .offer-bottom-title h4 {
    font-size: 17px;
	
}
.callection-card .box-title{
	 font-size: 21px;

}
.collection-category.style8 .box-content .box-title {
 
    font-size: 21px;


}
.footer-layout5 .footer-widget .widget_title{
	font-size:22px
}

.cer-gen-auto{
	display:none!important
}

.ser-cat-cc{
	display:none!important
}
.logo-auuu{
	display:none!important
}
    .header-layout2 .header-form {
        width: 295px;
        margin-left: 0;
    }
	
	.header-layout2 .header-form .header-search input {
         width: 295px;
    }
	
	    .hero-style2 {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding: 70px 0 30px 0px;
    }
	
	.home-three .single-offer-thumb img {
    width: 100%;
    height: 265px;
	
	}
	.ff-right-mainsec {
    position: relative;
    margin-top: 0;
    padding-left: 0;
}
.checkoutlast-sticky {
    position: relative;
    top: 0;
    z-index: 10;
    margin-bottom: 30px;
    margin-top: 30px;
}
.Ser-odd .ipi-right {
    padding-left: 0;
}
.Ser-even .ipi-right {
    padding-right: 0;
}
.header-logo {
    padding-top: 10px;
    padding-bottom: 10px;
}
}

@media only screen and (max-width: 767.98px) and (min-width: 576px){
	.coleft-main {
    
    padding-right: 0;
}
	 
	    .footer-layout5 .th-social.style2 a {
             --icon-size: 30px;
        line-height: 30px;
        margin-right: 3px;
        font-size: 17px;
    }
	
	.ccfo-box .th-social.style2 a {
    --icon-size: 34px;
    line-height: 34px;
	}
	    .main-menu ul.mega-menu {
        width: 974px;
    }
	
	    .main-menu>ul>li {
        margin: 0 23px;
    }
.hero-style2 .hero-title {
    
    font-size: 40px;
}
.hero-style2 .price {
    
    font-size: 25px;
	
}

.home-three .offer-bottom-title h4 {
    font-size: 17px;
	
}
.callection-card .box-title{
	 font-size: 21px;

}
.collection-category.style8 .box-content .box-title {
 
    font-size: 21px;


}
.footer-layout5 .footer-widget .widget_title{
	font-size:22px
}

.cer-gen-auto{
	display:none!important
}

.ser-cat-cc{
	display:none!important
}
.logo-auuu{
	display:none!important
}
    .header-layout2 .header-form {
        width: 205px;
        margin-left: 0;
		       
    }
	
	.header-layout2 .header-form .header-search input {
         width: 205px;
		  min-width: 205px;
    }
	
	    .hero-style2 {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding: 70px 0 30px 0px;
    }
	
	.home-three .single-offer-thumb img {
    width: 100%;
    height: 265px;
	
	}
	.ff-right-mainsec {
    position: relative;
    margin-top: 0;
    padding-left: 0;
}
.checkoutlast-sticky {
    position: relative;
    top: 0;
    z-index: 10;
    margin-bottom: 30px;
    margin-top: 30px;
}
.Ser-odd .ipi-right {
    padding-left: 0;
}
.Ser-even .ipi-right {
    padding-right: 0;
}

.hsocial-linksff a img {
    width: 18px;
}
.header-links li {
    
    font-size: 13px;
}
.header-logo {
    padding-top: 10px;
    padding-bottom: 10px;
}

.header-info .media-body{
	display:none!important
}

.testi-box {
    
    padding: 40px 20px;
 
}

.rebbsec {
    padding: 30px 20px 30px;
	
}
.Ceworkforce-box h3 span {
    width: max-content;
    background: var(--theme-color);
    color: #fff;
    margin-right: 5px;
    border-radius: 6px;
    padding: 2px 4px;
    font-size: 11px;
    margin-left: 10px;
    display: block;
}

.cart_table td .quantitynew {
    display: inline-block;
    text-align: right;
    vertical-align: middle;
    margin: 0px auto;
    margin-left: auto;
}

    .cart_table td.actions {
        padding-left: 15px;
        text-align: right;
    }

  .tinv-wishlist table {
        text-align: left;
        min-width: auto;
        border-collapse: separate;
        border-spacing: 0 20px;
        border: none;
    }
	.tinv-wishlist table thead {
        display: none;
    }
	
	 .tinv-wishlist table td {
        padding: 15px;
        display: block;
        width: 100%;
        padding-left: 25%;
        text-align: right;
        border: 1px solid #f3f3f3;
 
    }
	.tinv-wishlist table td:before {
    content: attr(data-title);
    position: absolute;
    left: 15px;
    top: 50%;
    vertical-align: top;
    padding: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: none;
}
	   .tinv-wishlist table td::before {
        display: block;
    }
	
	.tinv-wishlist table td:before, .tinv-wishlist table th {
    font-family: var(--title-font);
    color: var(--title-color);
    font-weight: 600;
    border: none;
    padding: 17px 15px;
    font-size: 18px;
}
 .tinv-wishlist .product-remove {
    width: 100%;
    text-align: right;
}

.saveaddress {
    padding: 20px 20px 18px;
}

.cart_item.final-tt{
	background-color: #ffe4e0;
}

.cart_table thead.dash-tr {
    background-color: #ffe4e0;
    display: block;
}

.Address {
    padding: 20px 20px 10px;
}
.cart_table thead th {
    border: 1px solid #ddd7d7 !important;
    text-align: left;
    display: block;
    width: 100%;
}
.cart_table thead tr {
   
    display: block;
    width: 100%;
}
.checkout-ordertable.mob-chec-table{
		        background-color: #ffe4e0;
	}
	
	.in-content-insec h2 {
  
    font-size: 31px;

	}
	.Sigbupmainn .container:before{
		content:unset!important
	}
	.register-inner {
    position: relative;
    width: 100%;
    padding: 0;
    padding-left: 0;
    padding-top: 20px;
    padding-bottom: 0;
}
}

@media only screen and (max-width: 575.98px)  {
	.register-inner {
    position: relative;
    width: 100%;
    padding: 0;
    padding-left: 0;
    padding-top: 20px;
    padding-bottom: 0;
}
	.Sigbupmainn .container:before{
		content:unset!important
	}
	.in-content-insec h2 {
    
    font-size: 28px;
	}
	.checkout-ordertable.mob-chec-table{
		        background-color: #ffe4e0;
	}
	.cart_table thead th {
    border: 1px solid #ddd7d7 !important;
    text-align: left;
    display: block;
    width: 100%;
}
.cart_table thead tr {
   
    display: block;
    width: 100%;
}
	.coleft-main {
    
    padding-right: 0;
}
	 
	    .footer-layout5 .th-social.style2 a {
             --icon-size: 30px;
        line-height: 30px;
        margin-right: 3px;
        font-size: 17px;
    }
	
	.ccfo-box .th-social.style2 a {
    --icon-size: 34px;
    line-height: 34px;
	}
	    .main-menu ul.mega-menu {
        width: 974px;
    }
	
	    .main-menu>ul>li {
        margin: 0 23px;
    }
.hero-style2 .hero-title {
    
    font-size: 32px;
}
.hero-style2 .price {
    
    font-size: 20px;
	
}

.home-three .offer-bottom-title h4 {
    font-size: 17px;
	
}
.callection-card .box-title{
	 font-size: 21px;

}
.collection-category.style8 .box-content .box-title {
 
    font-size: 21px;


}
.footer-layout5 .footer-widget .widget_title{
	font-size:22px
}

.cer-gen-auto{
	display:none!important
}

.ser-cat-cc{
	display:none!important
}
.logo-auuu{
	display:none!important
}
    .header-layout2 .header-form {
          width: 178px;
        margin-left: 0;
		       
    }
	.Prod-main-seccse h3 {
    
    font-size: 24px;
     
}
    .header-info-wrap {
       
        margin-right: 0;
    }
	.header-info {
   
    gap: 0;
	}
	
	.header-info .dropdown {
   
    gap: 0;
}

.menu-top .col-auto{
	        padding: 0 6px;
}
	.header-layout2 .header-form .header-search input {
              width: 178px;
        min-width: 178px;
        font-size: 13px;
        padding-left: 10px;
    }
	
	    .hero-style2 {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding: 70px 0 30px 0px;
    }
	
	.home-three .single-offer-thumb img {
    width: 100%;
    height: auto;
	
	}
	.ibm-bcrms h3 {
    font-size: 26px;
    line-height: 1.2;
	
	}
	
	.product-about {
    
    padding: 25px 13px 25px;
}
	.about-logo2 h3 {
    margin-bottom: 0;
    font-size: 38px;
	}
	.ff-right-mainsec {
    position: relative;
    margin-top: 0;
    padding-left: 0;
}
.checkoutlast-sticky {
    position: relative;
    top: 0;
    z-index: 10;
    margin-bottom: 30px;
    margin-top: 30px;
}
.Ser-odd .ipi-right {
    padding-left: 0;
}
.Ser-even .ipi-right {
    padding-right: 0;
}

.hsocial-linksff a img {
    width: 18px;
}
.header-links li {
    
    font-size: 13px;
}
.header-logo {
    padding-top: 10px;
    padding-bottom: 10px;
}

.header-info .media-body{
	display:none!important
}

.testi-box {
    
    padding: 40px 20px;
 
}

.rebbsec {
    padding: 30px 20px 30px;
	
}
.Ceworkforce-box h3 span {
    width: max-content;
    background: var(--theme-color);
    color: #fff;
    margin-right: 5px;
    border-radius: 6px;
    padding: 2px 4px;
    font-size: 11px;
    margin-left: 10px;
    display: block;
}

.cart_table td .quantitynew {
    display: inline-block;
    text-align: right;
    vertical-align: middle;
    margin: 0px auto;
    margin-left: auto;
}

    .cart_table td.actions {
        padding-left: 15px;
        text-align: right;
    }

  .tinv-wishlist table {
        text-align: left;
        min-width: auto;
        border-collapse: separate;
        border-spacing: 0 20px;
        border: none;
    }
	.tinv-wishlist table thead {
        display: none;
    }
	
	 .tinv-wishlist table td {
        padding: 15px;
        display: block;
        width: 100%;
        padding-left: 25%;
        text-align: right;
        border: 1px solid #f3f3f3;
 
    }
	.tinv-wishlist table td:before {
    content: attr(data-title);
    position: absolute;
    left: 15px;
    top: 50%;
    vertical-align: top;
    padding: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: none;
}
	   .tinv-wishlist table td::before {
        display: block;
    }
	
	.tinv-wishlist table td:before, .tinv-wishlist table th {
    font-family: var(--title-font);
    color: var(--title-color);
    font-weight: 600;
    border: none;
    padding: 17px 15px;
    font-size: 18px;
}
 .tinv-wishlist .product-remove {
    width: 100%;
    text-align: right;
}

.saveaddress {
    padding: 20px 20px 18px;
}

.cart_item.final-tt{
	background-color: #ffe4e0;
}

.cart_table thead.dash-tr {
    background-color: #ffe4e0;
    display: block;
}

.Address {
    padding: 20px 20px 10px;
}

.header-links ul li:last-child{
	display:none
}
.header-links li:not(:last-child) {
    margin: 0 0px 0 0;
}

.container .th-container .col-auto{
	margin:0
}

    .ino-product-section-content {
        width: 100%;
        overflow: auto;
    }
	
	    .ino-product-section-content  table{
        width: 100%;
        
    }
	.cart_totals td.oo-total-p {
    font-size: 24px !important;
    font-weight: 600;
}
.aannnt {
    font-size: 24px !important;
    font-weight: 600;
}
.tinv-wishlist table .actions>.th-btn.style2 {
    width: 100%;
    margin-left: 0;
}

.aadd-tt {
    
    display: block;
}

.Address h5 {
    font-size: 25px;

}

.header-layout2 .header-top
 
 {
    display: none;
 }
 
 .header-info .dropdown .cart-dropdown-menu{
	     position: absolute;
    right: 0;
    top: 100%;
    width: 400px;
    background-color: var(--white-color);
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, .05);
    padding: 15px;
    z-index: 3;
    margin: 25px -30px 0 0;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: all ease .4s;
    max-height: 420px;
    overflow: auto;
    text-align: left;
	         margin: 21px 0 0 0;
	         width: 300px;
			         max-height: 100%;
        overflow: auto;
        position: fixed;
        right: 0;
        top: 0;
        margin-top: 0px;
 }
 .header-info .dropdown:hover .cart-dropdown-menu, .header-info .dropdown:focus .cart-dropdown-menu {
     opacity: 1;
    visibility: visible;
    transform: translateY(0);
	
	top: 0;
}

.widget_shopping_cart .mini_cart_item {
    position: relative;
    padding: 15px 30px 12px 81px;
}
.widget_shopping_cart .th-btn {
    margin-right: 0;
    width: 100%;
    margin-bottom: 10px;
}

.widget.widget_shopping_cart.style2 {
    
    padding: 0px 15px;
    border-radius: 8px;
}
}